@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Sen:wght@700&display=swap");

:root {
    box-sizing: border-box;
    --font-inter: "Inter", sans-serif;
    --font-sen: "Sen", sans-serif;
    --color-primary: #013243;
    --color-secondary: #32f5c8;
    --color-tertiary: #a9bdc6;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1em;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../assets/User\ Avatar\ 3.svg),
        url(../assets/User\ Avatar\ 2.svg), url(../assets/User\ Avatar\ 6.svg);
    background-position: top 7.5em left 2em, top 7.5em right, bottom 8em right;
    background-repeat: no-repeat;
    background-size: 7em, 9.5em, 9.5em;
    padding: 0 1em;
    font-family: var(--font-inter);
    font-size: 1rem;
    color: var(--color-tertiary);
}

main * + * {
    margin-top: 1.5em;
}

main h1 {
    font-family: var(--font-sen);
    font-weight: 700;
    font-size: 2.8em;
    color: var(--color-secondary);
}

main p {
    font-weight: 500;
    font-size: 1.3em;
}

main a {
    display: block;
    text-decoration: none;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    width: 75%;
    padding: 1em;
    font-weight: 700;
    font-size: 1.2em;
    border-radius: 0.5em;
    text-align: center;
}

footer {
    padding: 1em;
}

footer img {
    height: 2.5em;
}

footer a {
    display: flex;
    align-items: center;
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 1.2em;
    text-decoration: none;
    gap: 1em;
    color: var(--color-tertiary);
}
