@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sen:wght@700&display=swap');

:root {
    box-sizing: border-box;
    --font-inter: 'Inter', sans-serif;
    --font-sen: 'Sen', sans-serif;
    --color-primary: #013243;
    --color-secondary: #32f5c8;
    --color-tertiary: #a9bdc6;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/User\ Avatar\ 1.svg);
    background-color: var(--color-primary);
}